name: CI (integration tests)

# We only run the integration tests with Bors. There is a specific reason for
# this. Using Bors makes it easier for us to limit the total number of
# concurrent jobs. This is important because it keeps us from triggering
# GitHub's abuse rate limits.

on:
  push:
    branches:
      - master
      - v3-dev
      - staging
      - trying
jobs:
  integration:
    if: github.event_name == 'push'
    name: Integration/Julia ${{ matrix.version }}/${{ matrix.os }}/${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        arch:
          - x64
        os:
          - ubuntu-latest
        version:
          - '1'
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - run: git config --global user.email "noreply@example.com"
      - run: git config --global user.name "GitHub Actions"
      - uses: julia-actions/julia-runtest@v1
        env:
          COMPATHELPER_RUN_INTEGRATION_TESTS: "true"

          INTEGRATION_TEST_REPO_GITHUB: "bcbi-test/compathelper_integration_test_repo.jl"
          INTEGRATION_PAT_GITHUB: ${{ secrets.INTEGRATION_PAT_GITHUB }}
          INTEGRATION_REPO_SSH_KEY_GITHUB: ${{ secrets.INTEGRATION_REPO_SSH_KEY_GITHUB }}

          INTEGRATION_TEST_REPO_GITLAB: "InveniaBot/compathelper_integration_test_repo.jl"
          INTEGRATION_PAT_GITLAB: ${{ secrets.INTEGRATION_PAT_GITLAB }}
          INTEGRATION_REPO_SSH_KEY_GITLAB: ${{ secrets.INTEGRATION_REPO_SSH_KEY_GITLAB }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
